.kotak {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .kotak {
    background-color: red;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: greenyellow;
  }
}
